{% extends 'main.html' %}

<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>

{% block content %}
<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>

<h1>Home template</h1>

<div class="home-container">

    {% include 'base/topics_component.html' %}

    <div>
        <h5>{{ room_count }} rooms available</h5>
        <a href="{% url 'create_room' %}">Create Room</a>
        <hr>

        {% include 'base/feed_component.html' %}
    </div>

    <div>
        {% include 'base/activity_components.html' %}
    </div>


</div>
{% endblock %}
